<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        
        <script>
            var clockApp = angular.module("clockApp", []);
            //var NeDB = require('nedb');
            
            clockApp.controller("clockController", ["$scope", "$http", "$window", function (scope, http, window) {
                
                scope.message = "";
                scope.dangerMessage = "";
                
                var getCrontab = function () {
                    http.get("/api/crontab")
                    .then(function (response) {
                        scope.crontab = response.data.crontab;
                    },
                    function (response) {
                        scope.dangerMessage = "Sorry but we failed to find the crontab";
                    });                      
                }
                
                var clearMessages = function () {
                    scope.message = "";
                    scope.dangerMessage = "";                                        
                }
                
                getCrontab();
  
                scope.alarmOn = function () {
                    clearMessages();
                    http.post("/api/alarmOn")
                    .then(function () {
                        getCrontab();
                        scope.message = "School alarms are go!!!";
                    },
                    function() {
                        scope.dangerMessage = "Oops, sorry, something went wrong.";
                    });
                }
                                
                scope.alarmOff = function () {
                    clearMessages();
                    http.post("/api/alarmOff")
                    .then(function () {
                        scope.message = "School alarms are gone!!!";
                        getCrontab();
                    },
                    function() {
                        scope.dangerMessage = "Oops, sorry, something went wrong. ";
                    });
                }
                
                scope.come = function () {
                    clearMessages();
                    http.post("/api/callJess/come")
                    .then(function () {
                        scope.message = "Jessica has been summoned";
                    },
                    function() {
                        scope.dangerMessage = "Sorry, but we failed to summon Jessica";
                    });
                }
                
                scope.dinner = function () {
                    clearMessages();
                    http.post("/api/callJess/dinner")
                    .then(function () {
                        scope.message = "Jessica has been called for dinner";
                    },
                    function() {
                        scope.dangerMessage = "Sorry, but we failed to call Jessica for dinner";
                    });
                }
                
                scope.viewLogs = function () {
                    window.location.href = '/log.html';
                }
            }]);
        </script>
            
    </head>

    <body class="container" ng-app="clockApp" ng-controller="clockController">
        <h1>
            Welcome to Jessica's Alarm Clock
        </h1>
        
        <div class="alert alert-success" role="alert" ng-show="message">
            {{message}}
        </div>
        
        <div class="alert alert-danger" role="alert" ng-show="dangerMessage">
            {{dangerMessage}}
        </div>
        <form>        
            <h3>Set the alarms</h3>                            
            
            <div class="form-group">
                <button type="button" class="btn btn-info" ng-click="alarmOn()">Alarm on</button>
                <button type="button" class="btn btn-info" ng-click="alarmOff()">Alarm off</button>
            </div>
        </form>

        <h3>The current alarms - </h3>
        
        <pre>{{crontab}}</pre>
            
        <form>
            <h3>Call Jessica</h3>
            <div class="form-group">
                <button type="button" class="btn btn-info" ng-click="come()">Come downstairs</button>
                <button type="button" class="btn btn-info" ng-click="dinner()">Dinner's ready</button>            
            </div>
        </form>
        <form>
            <div class="form-group">            
                <button type="button" class="btn btn-info" ng-click="viewLogs()">View logs</button>
            </div>
        </form>
    </body>
</html>
